h1, h2, h3, h4, h5, h6 {
  color: #A3C4BC; }

.call-to-action {
  background-color: #A3C4BC; }

body {
  background-color: #413C58; }

#main-nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  #main-nav li {
    display: inline-block;
    padding-right: 20px; }
